/*General*/
.hidden-search{
	display: none;
}

.dropdown-menu>li>a{
	padding: 10px 20px;
}

.navbar-nav>.user-menu>.dropdown-menu{
	width: 180px;
}

.content-padding{
	background-color: #fff;
	min-height: 945px;
}

.content-wrapper{
	padding: 20px;
}

.content{
	padding-top: 0px;
	margin-top: 20px;
}

.content .form-content{
	margin-top: 20px;
}

.select2-container{
	width: 100%!important;
}

.select2-container .select2-selection--single{
	height: 35px;
}

.with-separator{
	border-right: 2px solid #605ca8;
}

.field-name h4{
	margin: 0px;
}

.no-content-create{
	padding-left: 78px;
	padding-top: 35px;
	color: #4c4c4c;
	font-size: 16px;
}

.no-content-create:before{
	content: "";
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 80px;
    margin-left: -70px;
    margin-top: -50px;
    background: transparent url(../img/view_empty_arrow.png) no-repeat 0px 0px;
}

.tabbed-content{
	margin-top: 20px;
}

.nav-tabs-custom>.nav-tabs>li.active{
	border-top-color: #605ca8;
}

/*input.required{
	background-color: #D2D2FF;
}*/

/*Sales*/

.content-header .col-lg-6 h1 {
	margin: 0px 0px 10px 0px;
	font-size: 24px;
}

.content-table tr > td:first-child{
	width: 30px;
}